.create-post-label{
    background-color: #eaeaea;
    color: rgb(25,25,25);
    padding-inline: 1rem;
    padding-block: 0.4rem;
    border-radius: 1rem;
    max-width: 400px;
    cursor: pointer;
}
.create-post-page{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}